<nav class="navbar">
  <a class="logo">
    <img src="assets/images/logo.svg" alt="" />
  </a>
  <ul class="navigation__ul">
    <storybook-nav-item
      label="Sport"
      imgUrl="assets/images/sport.svg"
    ></storybook-nav-item>
    <storybook-nav-item
      label="Live"
      imgUrl="assets/images/live.svg"
    ></storybook-nav-item>
    <storybook-nav-item
      label="Slots"
      imgUrl="assets/images/slot-icon.svg"
      [active]="true"
    ></storybook-nav-item>
    <storybook-nav-item
      label="Casino"
      imgUrl="assets/images/casino-icon.svg"
    ></storybook-nav-item>
  </ul>
</nav>
