nav {
  grid-area: sidebar;
  background-color: #252b33;
}

.grid-container {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  min-height: 100vh;
}
