.navigation__ul {
  top: 10px;
}

.logo {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}
