/* main grid container */
.grid-container {
  display: grid;
  grid-template-columns: 80px 1fr; /* Sidebar and Content areas */
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #252b33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

main {
  grid-area: content;
  padding: 8px;
  background-color: #252b33;
}

/* reset */
body {
  margin: 0;
  font-family: google-font;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  list-style-type: none;
  text-decoration: none;
}

/* slots [age] */
.banner__section {
  min-height: 420px;
  height: 200px;
  background-image: url(/assets/images/banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slot-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
